.slider-container .card {
    background: lightgrey;
    color: #333;
    width: 280px;
    height: 500px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 4px;
    animation: fadeIn 2s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.slider-container {
    margin: 0 5% ;
    cursor: grab;
}
.slider-container:active {
    cursor: grabbing;
}