.slider-general-container h1 {
    color: white;
    animation: fadeIn 2s;
    margin: 2%;
}
.slider-general-container {
    margin: 0 auto;
}
@media screen and (min-width: 1200px) {
    .swiper-container {
      width: 1200px;
    }
  }
  
  @media screen and (min-width: 600px) {
    .swiper-container {
      width: 600px;
    }
  }

  @media screen and (min-width: 250px) {
    .swiper-container {
      width: 250px;
    }
  }