.home-container h1 {
    color: white;
    margin: 2%;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.home-container .film-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
