.home-container h1 {
    color: white;
    margin: 2%;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.film-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 40px auto;
}